.barcelona-skyline {
    background: url(/assets/img/banner-barcelona-lg.jpg) repeat-x -20% 0;
    display:none;
}
.barcelona-skyline div {
    position: relative;
    min-height: 487px;
    width: 250px;
    margin: 0 auto;
    overflow: hidden;
}
.barcelona-skyline span {
    display: none;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

@media only screen and (min-width:600px) {
    .barcelona-skyline {
    display: table-header-group;
}
}

@media only screen and (min-width:444px) {
.barcelona-skyline {
    display:block;
}
.barcelona-skyline div {
    width: 444px;
}
.barcelona-skyline span {
    position: absolute;
    bottom: 0;
    left: -1000px;
}
.barcelona-skyline .barcelona-skyline__o {
    display: block;
    z-index: 2;
    width: 689px;
    height: 487px;
    left: -122.5px;
    margin: 0;
    background: url(/assets/img/barcelona-skyline__o-lg.png) no-repeat 0 100%;
}
.barcelona-skyline .barcelona-skyline__a {
    display: block;
    z-index: 1;
    left: 0;
    width: 369px;
    height: 487px;
    background: url(/assets/img/madness__a-lg.png) no-repeat 0 100%;}
}

@media only screen and (min-width:560px) {
    .barcelona-skyline div {
    width: 560px;
}
.barcelona-skyline .barcelona-skyline__o {
    left: -64.5px;
}
.barcelona-skyline .barcelona-skyline__a {
    left: 116px;
}
.barcelona-skyline .barcelona-skyline__d {
    display: block;
    z-index: 2;
    left: 0;
    width: 317px;
    height: 487px;
    background: url(/assets/img/madness__d-lg.png) no-repeat 0 100%;}
}


@media only screen and (min-width:585px) {
  .barcelona-skyline {
    background-position: 0 0;    
-webkit-animation: slide 600s linear infinite;    
-moz-animation: slide 600s linear infinite;    
-ms-animation: slide 600s linear infinite;    
-o-animation: slide 600s linear infinite;    
animation: slide 600s linear infinite;
 }

.barcelona-skyline div {
    width: 585px;
}
.barcelona-skyline .barcelona-skyline__o {
  left:-50px;
}
.barcelona-skyline .barcelona-skyline__a {
    left: 140px;
}
.barcelona-skyline .barcelona-skyline__d {
    left: 23px;
}
.barcelona-skyline .barcelona-skyline__n {
    display: block;
    z-index: 2;
    left: 0;
    width: 241px;
    height: 487px;
    background: url(/assets/img/madness__n-lg.png) no-repeat 0 100%;}
}

@-webkit-keyframes slide{from{background-position:0 0}to{background-position:-10000px 0}}@-moz-keyframes slide{from{background-position:0 0}to{background-position:-10000px 0}}@-ms-keyframes slide{from{background-position:0 0}to{background-position:-10000px 0}}@-o-keyframes slide{from{background-position:0 0}to{background-position:-10000px 0}}@keyframes slide{from{background-position:0 0}to{background-position:-10000px 0}}

@media only screen and (min-width:747px) {
    .barcelona-skyline div {
    width: 747px;
}
.barcelona-skyline .barcelona-skyline__o {
    left: 29px;
    top: -400px;
    -webkit-transition: top 1s .5s ease;
    -moz-transition: top 1s .5s ease;
    -ms-transition: top 1s .5s ease;
    -o-transition: top 1s .5s ease;
    transition: top 1s .5s ease;
}
.barcelona-skyline:hover .barcelona-skyline__o {
	top: 0;
}
.barcelona-skyline .barcelona-skyline__a {
    left: 303px;
}
.barcelona-skyline .barcelona-skyline__d {
    left: 186px;
}
.barcelona-skyline .barcelona-skyline__n {
    left: 162px;
}
.barcelona-skyline .barcelona-skyline__e {
    display: block;
    z-index: 1;
    left: 0;
    width: 279px;
    height: 487px;
    background: url(/assets/img/madness__e-lg.png) no-repeat 0 100%;}
}

@media only screen and (min-width:856px) {
    .barcelona-skyline div {
    width: 856px;
}
.barcelona-skyline .barcelona-skyline__o {
    left: 155.5px;
}
.barcelona-skyline .barcelona-skyline__a {
    left: 411px;
}
.barcelona-skyline .barcelona-skyline__d {
    left: 294px;
}
.barcelona-skyline .barcelona-skyline__n {
    left: 270px;
}
.barcelona-skyline .barcelona-skyline__e {
    left: 107px;
}
.barcelona-skyline .barcelona-skyline__s {
    display: block;
    z-index: 2;
    left: 0;
    width: 270px;
    height: 487px;
    background: url(/assets/img/madness__s-lg.png) no-repeat 0 100%;}
}

@media only screen and (min-width:1000px) {
    .barcelona-skyline div {
    width: 1000px;
}
.
madness .barcelona-skyline__o {
    left: 758px;
}
.barcelona-skyline .barcelona-skyline__a {
    left: 557px;
}
.barcelona-skyline .barcelona-skyline__d {
    left: 440px;
}
.barcelona-skyline .barcelona-skyline__n {
    left: 416px;
}
.barcelona-skyline .barcelona-skyline__e {
    left: 253px;
}
.barcelona-skyline .barcelona-skyline__s {
    left: 145px;
}
.barcelona-skyline .barcelona-skyline__s2 {
    display: block;
    z-index: 1;
    left: 0;
    width: 337px;
    height: 487px;
    background: url(/assets/img/madness__s2-lg.png) no-repeat 0 100%;}
}

@media only screen and (min-width:1382px) {
    .barcelona-skyline div {
    width: 1300px;
}
.barcelona-skyline span {
    -webkit-transition: left 1s .25s ease;
    -moz-transition: left 1s .25s ease;
    -ms-transition: left 1s .25s ease;
    -o-transition: left 1s .25s ease;
    transition: left 1s .25s ease;
}
.barcelona-skyline .barcelona-skyline__o {
    left: 305.5px;
}
.barcelona-skyline .barcelona-skyline__a {
    left: 395px;
}
.barcelona-skyline .barcelona-skyline__d {
    left: 330px;
}
.barcelona-skyline .madness__n {
    left: 310px;
}
.barcelona-skyline .barcelona-skyline__e {
    left: 175px;
}
.barcelona-skyline .barcelona-skyline__s {
    left: 120px;
}
.barcelona-skyline:hover .barcelona-skyline__a {
    left: 580px;
}
.barcelona-skyline:hover .barcelona-skyline__d {
    left: 455px;
}
.barcelona-skyline:hover .barcelona-skyline__n {
    left: 390px;
}
.barcelona-skyline:hover .barcelona-skyline__e {
    left: 240px;
}
.barcelona-skyline:hover .barcelona-skyline__s {
    left: 135px;
}
}

@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-resolution:144dpi) {

.barcelona-skyline .barcelona-skyline__o {
    background-image: url(/assets/img/2x/barcelona-skyline__o-lg-2x.png);
    -webkit-background-size: 516.75px 365.25px;
    -moz-background-size: 689px 4847x;
    -o-background-size: 516.75px 365.25px;
    background-size: 516.75px 365.25px;
    top:0;
    left:auto;
}
}
